
<div class="main-content">
	<div class="title">
		Analytics
	</div>
	<div class='ad'>
		<div class="close">
			<i class="ion-ios-close-empty"></i>
		</div>
	</div>
	<div class="main">
		<div class="widget">
			<div class="title">Number of views</div>
			<div class="chart"></div>
		</div>
		<div class="widget">
			<div class="title">Number of likes</div>
			<div class="chart"></div>
		</div>
		<div class="widget">
			<div class="title">Number of comments</div>
			<div class="chart"></div>
		</div>
	</div>
</div>

  <!-- <router-outlet></router-outlet>  -->